<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <%= render 'public/items/genre_search', genres: @genres %>
    </div>
    <div class="col-sm-9">
      <p>
        ようこそ、ながのCAKEへ!<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
        ＜＜＜※背景イメージ？＞＞＞
      </p>

    <h2>新着商品</h2>
    <div>
      <% @items.each do |item| %>
        <%= link_to item_path(item) do %>
          <%= image_tag item.get_image_id, size:"50x50" %>
          <%= item.name %>
          ￥<%= item.price.to_s(:delimited) %>
        <% end %>
      <% end %>
    </div>
    <%= link_to "全ての商品を見る", items_path %>
    </div>
  </div>
</div>