<div class='container'>
  <div class='row'>
    <div class='col-md-2'>
      <%= render 'genre_search', genres: @genres %>
    </div>

    <div class='col-md-3'>
      <div class="item-show">
        <%= image_tag @item.get_image_id, size:"300x200" %>
      </div>
      
      <div class='col-md-7'>
        <div>
        <%= @item.name %></br>
        <%= @item.introduction %></br>
        ￥<%= @item.with_tax_price.to_s(:delimited)  %>(税込)
      </div>
      
      <%= form_with model:@cart_item, url: '/cart_items/', method: :post, local:true do |f| %>
        <div class="form-group">
          <%= f.hidden_field :item_id, :value => @item.id %>
          <%= f.select :amount, [1, 2, 3, 4, 5, 6, 7, 8, 9,  10], include_blank: '個数選択'%>
        </div>
        <div class="form-group">
          <%= f.submit "カートに入れる", class: 'btn btn-success' %>
        </div>
      <% end %>
      
  </dov>    
</div>
